<h1>Instances</h1>

<table id="instances">
  <thead>
    <tr>
      <th>Name</th>
      <th>Id</th>
      <th>Type</th>
      <th>State</th>
      <th>AZ</th>
      <th>Public IP</th>
      <th>Private IP</th>
    </tr>
  </thead>
  <tbody>
    <% @instances.each do |instance| %>
      <tr>
        <td><%= instance[:name] %></td>
        <td><%= instance[:id] %></td>
        <td><%= instance[:type] %></td>
        <td><%= instance[:state] %></td>
        <td><%= instance[:availability_zone] %></td>
        <td><%= instance[:public_ip] %></td>
        <td><%= instance[:private_ip] %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
