<h1>Listing instances</h1>

<table>
  <thead>
    <tr>
      <th colspan="1">Name</th>
      <th colspan="1">Id</th>
      <th colspan="1">Type</th>
      <th colspan="1">State</th>
      <th colspan="1">AZ</th>
      <th colspan="1">Public IP</th>
      <th coslpan="1">Private IP</th>
    </tr>
  </thead>

  <tbody>
    <% @instances.each do |instance| %>
      <tr>
        <td><%= instance[:name] %></td>
        <td><%= instance[:id] %></td>
        <td><%= instance[:type] %></td>
        <td><%= instance[:state] %></td>
        <td><%= instance[:availability_zone] %></td>
        <td><%= instance[:public_ip] %></td>
        <td><%= instance[:private_ip] %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
